@font-face {
    font-family: 'Myriad';
    scr: url('../fonts/Myriad Pro Bold.ttf');
    font-weight:900;
}

@font-face {
    font-family: 'Myriad';
    scr: url('../fonts/Myriad Pro Regular.ttf')
}

body{
    font-family: 'Myriad', sans-serif;
}

.container{
    position: relative;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    /*overflow: hidden;*/
}

h1 {
    margin: 0;
    font-family: 'Myriad', sans-serif;
    font-size: 61px;
}

.logo{
    position: absolute;
    top: 61px;
    display: inline-block;
}

.highlight{
    color: #4bcaff;
}

.navbar{
    position: absolute;
    top: 180px;
    background-color: #35444f;
    width: 1280px;
    height: 69px;
}

.navbar-nav{
    margin: 22px 180px;
    padding-left: 0;
    display: inline-block;
    align-self: center;
}

.navbar-nav li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    text-align: center;
}

.navbar-nav a {
    text-decoration: none;
    font-family: 'Myriad Pro';
    color:  #ffffff;
    font-size: 24px;
    /*margin-left: 60px;*/
}

.sidemenu{
    position: relative;
    top: 300px;
    left: 1px;
}

.footer{
    position: relative;
    bottom: 20px;
    left: 1px;
}