@font-face {
    font-family: 'Myriad';
    scr: url('../fonts/Myriad Pro Bold.ttf');
    font-weight:900;
}

@font-face {
    font-family: 'Myriad';
    scr: url('../fonts/Myriad Pro Regular.ttf')
}

body{
    font-family: 'Myriad', sans-serif;
}

.container{
    position: relative;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    /*overflow: hidden;*/
}

h1 {
    margin: 0;
    font-family: 'Myriad', sans-serif;
    font-size: 61px;
}

.logo{
    position: absolute;
    top: 61px;
    display: inline-block;
}

.highlight{
    color: #4bcaff;
}

.navbar{
    position: absolute;
    top: 180px;
    background-color: #35444f;
    width: 1280px;
    height: 69px;
}

.navbar-nav{
    margin: 0px 150px;
    padding-left: 0;
    display: inline-block;
    text-align: center;
}

.navbar-nav li{
    list-style: none;
    display: inline-block;
    height: 69px;
    padding-left: 41px;
    padding-right: 41px;
    text-align: center;
}

.navbar-nav-el:hover{
    padding-left: 40px;
    padding-right: 40px;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    background-color: #222f3a;

}

.navbar-nav a {
    position: relative;
    text-align: center;
    top: 19px;
    text-decoration: none;
    font-family: 'Myriad Pro';
    color:  #ffffff;
    font-size: 24px;
    /*margin-left: 60px;*/
}

.sidemenu{
    display: inline-block;
    border: 1px solid #000;
    position: relative;
    width: 344px;
    top: 300px;
    left: 1px;
}

.sidemenu-nav{
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    padding: 0 0;
}

.sidemenu-nav-el{
    display: inline-block;
    height: 81px;
    width: 100%;
}

.sidemenu-nav-el:hover {
    background-color: #dcdcdc;
    padding-left: 25px;
}

.sidemenu-nav a{
    padding-left: 30px;
    position: relative;
    top: 23px;
    text-decoration: none;
    font-family: 'Myriad Pro';
    color:  #485863;
    font-size: 27px;
    font-weight: 400;

}

.content{
    top: 300px;
    position: relative;
    width: 885px;
    height: 760px;
    float: right;
    text-align: center;
}


.image{
    position: relative;
    float: right;
    width: 885px;
    height: 529px;
    border: 1px solid #000;
}

.image img{
    padding-top: 75px;
}

.text{
    height: 354px;
    position: relative;
    top: 581px;
    display: contents;
    text-align: left;
}

.text p{
    font-family: 'Myriad Pro';
    font-size: 18px;
    display: inline-block;
    padding-top: 30px;
}

.footer{
    text-align: center;
    position: absolute;
    bottom: -838px;
    width: 1280px;
    height: 69px;
    background-color: #b5b8bb;
    margin-bottom: 30px ;
}

.footer-navbar{
    float: left;
    position: relative;
    margin: 0px 44px;
    padding-left: 0;
    display: inline-block;
    text-align: center;
}

.footer-element{
    float: left;
    list-style: none;
    height: 69px;
    padding-left: 41px;
    padding-right: 41px;
}

.footer-element a{
    text-decoration: none;

}