@font-face {
    font-family: 'Verdana';
    scr: url('../fonts/Verdana.ttf');
}

@font-face {
    font-family: 'Verdana Bold';
    scr: url('../fonts/verdanab.ttf');
}


* {
    box-sizing: border-box;
}

.main{
    font-family: 'Verdana', sans-serif;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
}

.container{
    display: flex;
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
}

.header{
    display: flex;
    width: 100%;
    height: 44px;
    margin-top: 49px;
    margin-bottom: 48px;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    display: flex;
    flex-basis: 188px;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}

.logo-name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
}

.logo-name-big{
    line-height: 22px;
    flex-basis: 22px;
    font-size: 29px;
    margin: 0 0;
    letter-spacing: 4px;
}

.logo-name-small{
    line-height: 13px;
    flex-basis: 13px;
    font-size: 18px;
    margin: 0 0;
    letter-spacing: 2px;
}

.logo img:last-of-type{
    display: none;
}

.logo:hover {
    color: #f26522;
}

.logo:hover img:last-of-type{
    display: block;
}

.logo:hover img:first-of-type{
    display: none;
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
}

.contact-item{
    margin: 0 0;
    line-height: 22px;
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    font-size: 19px;
    text-align: right;
    letter-spacing: 1px;
}

.tours-container{
    display: flex;
    height: 541px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.tour{
    flex-basis: 312px;
    height: 243px;
    color: #ffffff;
}

.tour:hover{
    color: #f26522;
}

.tour p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.tour-img{
    box-sizing: border-box;
    border: solid 3px;
    border-image:
            linear-gradient(to bottom, white, rgba(0, 0, 0, 0)) 1 1%;
}

.footer{
    color: #ffffff;
    text-align: center;
    margin-top: 61px;

}
